:root {
	--border-white-color: #E7E9FC;
	--text-color: #434455;
	--title-color: #2E2F42;
	--accent-color: #4D5AE5;
	--passed-color: #404BBF;
	--white-site-color: #F4F4FD;
	--main-background-color: #FFFFFF;
	--customer-icon-color: #8E8F99;
	--footer-background-color: #2E2F42;
	--timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	--grad: linear-gradient(to right,
			rgba(46, 47, 66, 0.7),
			rgba(46, 47, 66, 0.7));
}

body {
	color: var(--text-color);
	background-color: var(--main-background-color);

	font-family: "Roboto", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
}

/* Reset some start properties */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 0;
}

.link {
	text-decoration: none;
	color: inherit;
}

ul {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.list {
	list-style: none;
}

/* Logo */

.logo {
	display: inline-block;

	color: var(--title-color);
	font-family: "Raleway", cursive;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
}

span.accent {
	color: var(--accent-color);
}

/* Button */

.btn {
	font-weight: 500;
	cursor: pointer;

	text-align: center;
	letter-spacing: 0.04em;
	line-height: inherit;
}

/* Section */

.section {
	padding-top: 96px;
	padding-bottom: 96px;
}

.section-title {
	margin-bottom: 72px;

	color: var(--title-color);

	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;

	text-align: center;
	text-transform: capitalize;
}

.title {
	margin-bottom: 8px;
	color: var(--title-color);

	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
}

.list-flex {
	display: flex;
	flex-wrap: wrap;
	row-gap: 72px;
	column-gap: 24px;
}

/* Header */

.header {

	background-color: var(--main-background-color);
	border-bottom: 1px solid var(--border-white-color);
	box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
		0px 1px 1px rgba(46, 47, 66, 0.16), 
		0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	margin-right: auto;
	margin-left: auto;
}

.header-container {
	display: flex;
	align-items: center;

	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	margin-right: auto;
	margin-left: auto;
}

.header-container .logo {
	padding-top: 24px;
	padding-bottom: 24px;
}

.header-list {
	display: none;
}

.contact-list {
	display: none;
}

.contact-link .social-icon {
	display: none;
}

.menu-open-btn {
	padding: 0;
	margin-left: auto;
	height: 22px;

	border: none;
	background-color: transparent;
}

.mob-menu {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;

	width: 100%;
	height: 100%;
	padding-left: 40px;
	padding-top: 80px;
	padding-bottom: 40px;

	background-color: var(--main-background-color);

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: auto;

	opacity: 0;
	visibility: hidden;
	pointer-events: none;

	transition: opacity 250ms var(--timing-function),
		visibility 250ms var(--timing-function);
}

.mob-menu.is-open {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}

.menu-close-btn {
	position: absolute;
	top: 24px;
	right: 24px;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 24px;
	height: 24px;

	background-color: rgba(231, 233, 252, 0.1);
	border: 1px solid rgba(46, 47, 66, 0.1);
	border-radius: 50%;
}

.menu-close-icon {
	opacity: 1;
}

.menu-list {
	margin-bottom: 40px;
}

.menu-item:not(:last-child) {
	margin-bottom: 40px;
}

.menu-link {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	letter-spacing: 0.02em;
	color: #2E2F42;
}

.menu-link.accent {
	color: var(--accent-color);
}

.menu-contact-list {
	display: block;
	margin-bottom: 48px;
}

.menu-tel-link {
	font-weight: 700;
	/* font-size: calc(100vw * 5/54 - 98px/27); */
	font-size: 36px;
	line-height: 1.11;
	letter-spacing: 0.02em;
	color: var(--accent-color);
}

.menu-email-link {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--text-color);
}

.menu-social-list {
	display: flex;
	justify-content: space-between;

	max-width: 328px;
}

/* Hero */

.hero {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-top: 112px;
	padding-bottom: 112px;
	text-align: center;

	background-image: 
		var(--grad),
		url("../image/hero-bg-mob.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2),
	(min-resolution: 192dpi),
	(min-resolution: 2dppx) {
	.hero {
		background-image: 
		var(--grad),
		url("../image/hero-bg-mob-2x.jpg");
	}
}

.hero-title {
	max-width: 320px;

	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 72px;

	color: var(--main-background-color);

	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	text-transform: capitalize;
	text-align: center;
}

.hero-btn {
	display: flex;
	justify-content: center;
	align-items: center;

	min-width: 169px;
	padding-top: 16px;
	padding-right: 32px;
	padding-bottom: 16px;
	padding-left: 32px;
	margin-left: auto;
	margin-right: auto;

	color: var(--main-background-color);
	background: var(--accent-color);

	border: none;
	border-radius: 4px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

	transition: background-color 250ms var(--timing-function),
		box-shadow 250ms var(--timing-function);
}

.hero-btn:hover,
.hero-btn:focus {
	background-color: var(--passed-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* - - Features - - */

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.features-list {
	display: flex;
	flex-wrap: wrap;
	row-gap: 72px;
}

.feature-item {
	width: 100%;
}

.feature-icon {
	display: none;
}

.feature-text {
	font-weight: 500;
}

/* - - About - - */

.about-section {
	display: none;
}

/* Employees */

.employees-section {
	background-color: var(--white-site-color);
}

.employees-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	row-gap: 72px;
}


.employee-card {
	max-width: 264px;
	background-color: var(--main-background-color);

	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
		0px 1px 1px rgba(46, 47, 66, 0.16),
		0px 2px 1px rgba(46, 47, 66, 0.08);
	border-radius: 0px 0px 4px 4px;
}

.employee-content {
	padding-top: 32px;
	padding-left: 16px;
	padding-bottom: 32px;
	padding-right: 16px;

	text-align: center;
	background-color: var(--main-background-color);
}

.employee-content-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	margin-bottom: 8px;
}

.employee-content-text {
	margin-bottom: 8px;
}

.employee-content-list {
	display: flex;
	justify-content: center;
	gap: 24px;
}


.social-link {
	width: 40px;
	height: 40px;

	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--accent-color);
	color: var(--main-background-color);

	transition: background-color 250ms var(--timing-function);
}

.social-icon {
	fill: currentColor;
}

.social-link:hover,
.social-link:focus {
	background-color: #31D0AA;
	outline: transparent;
}

/* - - - Customers - - - */

.customers-list {
	display: flex;
	flex-wrap: wrap;
	row-gap: 72px;
	column-gap: 16px;
}

.customer-item {
	width: calc((100% - 16px) / 2);
	height: 88px;
}

.customer-link {
	width: 100%;
	height: 88px;

	color: var(--customer-icon-color);
	border: 1px solid var(--customer-icon-color);
	border-radius: 4px;

	display: flex;
	align-items: center;
	justify-content: center;

	transition: color 250ms var(--timing-function),
		border-color 250ms var(--timing-function);
}

.customer-link:hover,
.customer-link:focus {
	color: var(--accent-color);
	border-color: var(--accent-color);
	outline: transparent;
}

.customer-icon {
	fill: currentColor;
}


/* - - Footer - - */

.footer {
	padding-top: 96px;
	padding-bottom: 96px;
	background-color: var(--footer-background-color);
	text-align: center;
}

.footer-desc {
	max-width: 268px;
	height: 112px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 72px;
	text-align: center;
}

.footer-link {
	color: var(--white-site-color);
	margin-bottom: 16px;
}

.footer-text {
	text-align: left;
	color: var(--white-site-color);
}

.footer-social {
	margin-bottom: 72px;

}


.footer-social-title {
	font-weight: 500;

	color: var(--main-background-color);
	margin-bottom: 16px;
}

.footer-social-list {
	display: flex;
	justify-content: center;
	gap: 16px;
}


.footer-icon-active:hover,
.footer-icon-active:focus {
	background-color: #31D0AA;
}

.wrap-footer-form {
	width: 100%;
	height: auto;
}

.footer-input {
	width: 100%;
	height: 40px;
	padding-left: 16px;
	margin-bottom: 16px;
	font-size: 12px;


	color: var(--main-background-color);
	background-color: transparent;
	border: 1px solid var(--main-background-color);
	border-radius: 4px;
	outline: transparent;

	/* box-sizing: border-box; */
	/* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); */

	opacity: 0.3;

	transition: border-color 250ms var(--timing-function);
}

.footer-input::placeholder {
	font-size: 12px;
	line-height: 2;
	letter-spacing: 0.04em;
	color: var(--main-background-color);
}

.footer-input:focus,
.footer-input:hover {
	border-color: var(--main-background-color);
	opacity: 1;
}

.footer-btn {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 165px;
	height: 100%;

	font-weight: 500;
	font-size: 16px;
	letter-spacing: 0.04em;

	padding-top: 8px;
	padding-right: 24px;
	padding-bottom: 8px;
	padding-left: 24px;
	margin-right: auto;
	margin-left: auto;

	color: var(--main-background-color);
	background-color: var(--accent-color);

	border-radius: 4px;
	border: none;

	transition: background-color 250ms var(--timing-function),
		box-shadow 250ms var(--timing-function);
}


.footer-btn:hover,
.footer-btn:focus {
	background-color: var(--passed-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-btn-text {
	margin-right: 16px;
	cursor: pointer;
}

.subscribe-icon {
	fill: var(--main-background-color);
}

/* - - Portfolio - - */

.projects-section {
	padding-top: 48px;
	padding-bottom: 48px;
}

.filter-list {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	column-gap: 24px;
	row-gap: 16px;

	margin-bottom: 48px;
}

.portfolio-btn {
	border: 1px solid var(--border-white-color);
	border-radius: 4px;

	padding: 12px 24px;

	background-color: var(--white-site-color);
	color: var(--accent-color);

	transition: color 250ms var(--timing-function), 
		background-color 250ms var(--timing-function),
		box-shadow 250ms var(--timing-function),
		border 250ms var(--timing-function);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
	color: var(--main-background-color);
	background-color: var(--passed-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
	0px 2px 1px rgba(0, 0, 0, 0.08), 
	0px 2px 2px rgba(0, 0, 0, 0.12);
	border: none;
	outline: transparent;
}

.projetct-list {
	display: flex;
	flex-wrap: wrap;
	row-gap: 48px;
}

.project-item {
	width: 100%;

	border: 1px solid var(--border-white-color);
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
			0px 1px 1px rgba(46, 47, 66, 0.16),
			0px 2px 1px rgba(46, 47, 66, 0.08);

	transition: color 250ms var(--timing-function),
		border 250ms var(--timing-function),
		box-shadow 250ms var(--timing-function);
}

.project-wrap {
	position: relative;
	overflow: hidden;
}

.project-wrap-text {
	top: 0;
	position: absolute;
	padding-left: 32px;
	padding-top: 40px;
	background-color: var(--accent-color);
	padding-right: 32px;
	color: var(--white-site-color);
	height: 100%;
	transform: translateY(100%);
	transition: transform 250ms var(--timing-function);
}

.project-item:hover .project-wrap-text,
.project-item:focus .project-wrap-text {
	transform: translateY(0);
}

.card-content {
	padding-top: 32px;
	padding-left: 16px;
	padding-bottom: 32px;
}

.card-content-title {
	margin-bottom: 8px;

	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;

	color: var(--title-color);
}


/* - - Backdrop - - */

.is-hidden {
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}

.no-scroll {
	overflow: hidden;
}

.backdrop {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(46, 47, 66, 0.4);

	transition: opacity 250ms var(--timing-function), 
		visibility 250ms var(--timing-function);
}

/* -- MODAL -- */

.modal {
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%) scale(1) rotate(360deg);
	transition: transform 250ms var(--timing-function);

	width: 100%;
	max-width: 392px;
	height: auto;
	padding-top: 72px;
	padding-right: 16px;
	padding-bottom: 24px;
	padding-left: 16px;

	background-color: #FCFCFC;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 1px 3px rgba(0, 0, 0, 0.12),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}

.backdrop.is-hidden .modal {
	transform: translate(-50%, -50%) scale(0) rotate(0deg);
}

.modal-icon {
	fill: currentColor;
}

.btn {
	font-weight: 500;
	cursor: pointer;

	text-align: center;
	letter-spacing: 0.04em;
	line-height: inherit;
}

.modal-btn-close {
	position: absolute;
	top: 24px;
	right: 24px;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 24px;
	height: 24px;
	cursor: pointer;

	background-color: var(--border-white-color);
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;

	transition: color 250ms var(--timing-function),
		background-color 250ms var(--timing-function),
		box-shadow 250ms var(--timing-function),
		border 250ms var(--timing-function);
}

.modal-btn-close:hover,
.modal-btn-close:focus {
	color: var(--main-background-color);
	background-color: var(--passed-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
		0px 2px 1px rgba(0, 0, 0, 0.08),
		0px 2px 2px rgba(0, 0, 0, 0.12);
	border: none;
}

.modal-title {
	font-weight: 500;
	text-align: center;
	color: var(--title-color);
	margin-bottom: 16px;
}

.modal-form-field:nth-child(-n + 3) {
	margin-bottom: 8px;
}

.form-label {
	margin-bottom: 4px;

	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;
	color: var(--customer-icon-color);
}

.input-wrap {
	position: relative;
}

.form-input {
	width: 100%;
	height: 40px;
	padding-left: 38px;

	background-color: transparent;
	border: 1px solid rgba(46, 47, 66, 0.4);
	border-radius: 4px;

	outline: transparent;

	transition: border-color 250ms var(--timing-function);
}

.form-input:focus {
	border-color: var(--accent-color);
}

.modal-input-icon {
	position: absolute;
	left: 16px;
	top: 50%;
	transform: translateY(-50%);

	transition: fill 250ms var(--timing-function);
}

.form-input:focus + .modal-input-icon {
	fill: var(--accent-color);
}

.modal-form-comment {
	margin-bottom: 16px;
}

.comment-input {
	resize: none;

	padding-top: 8px;
	padding-left: 16px;
	padding-bottom: 8px;
	padding-right: 16px;

	width: 100%;
	height: 120px;

	background-color: transparent;
	border: 1px solid rgba(46, 47, 66, 0.4);
	border-radius: 4px;
	outline: transparent;

	transition: border-color 250ms var(--timing-function);
}

.comment-input:focus {
	border-color: var(--accent-color);
}

.comment-input::placeholder {
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;

	color: rgba(46, 47, 66, 0.4);
}

.modal-form-checkbox {
	margin-bottom: 24px;
}

.checkbox-label {
	display: flex;
	align-items: center;
	gap: 4px;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;

	color: var(--customer-icon-color);
}

.checkbox-label span {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 16px;
	height: 16px;
	margin-right: 8px;
	
	border: 1px solid rgba(46, 47, 66, 0.4);
	border-radius: 2px;
	fill: transparent;

	transition: background-color 250ms var(--timing-function),
		border 250ms var(--timing-function),
		fill 250ms var(--timing-function);
}

.checkbox-input:checked + .checkbox-label span {
	background-color: var(--passed-color);
	border: none;
	fill: var(--white-site-color);
}

.checkbox-input:focus + .checkbox-label span,
.checkbox-input:hover + .checkbox-label span {
	border-color: var(--passed-color);
}

.checkbox-link {
	color: var(--accent-color);
	text-transform: capitalize;
}

@media screen and (min-width: 480px) {

	.header-container {
		min-width: 426px;
	}


	.container {
		width: 426px;
	}

	.customer-link {
		width: 190px;
		height: 88px;
	}

	.menu-tel-link {
		font-size: 36px;
	}
	
	.menu-social-item:not(:last-child) {
		margin-right: 56px;
	}
}

@media screen and (min-width: 768px) {

	.header-container {
		width: 766px;
	}

	.container {
		width: 766px;
	}

	.menu-open-btn {
		display: none;
	}

	.nav {
		margin-left: 76px;
	}
	
	.nav-item {
		height: 100%;
	}
	
	.nav-item:not(:last-child) {
		margin-right: 40px;
	}
	
	.nav-link {
		color: var(--title-color);
		font-weight: 500;
	
		transition: color 250ms var(--timing-function);
	}

	.contact-box {
		width: 120px;
		padding-top: 16px;
		padding-bottom: 16px;
		margin-left: auto;
	}

	.nav-link {
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 24px;
		padding-bottom: 24px;
	}
	
	.contact-link {
		font-weight: 400;
		font-size: 12px;
		line-height: 1.17;
		letter-spacing: 0.04em;

		color: var(--text-color);
	
		transition: color 250ms var(--timing-function);
	}
	
	.nav-link:hover,
	.nav-link:focus,
	.contact-link:hover,
	.contact-link:focus {
		color: var(--passed-color);
	}
	
	.scale-link {
		position: relative;
	}
	
	.scale-link::after {
		position: absolute;
		left: 0;
		bottom: -1%;
	
		content: '';
		display: inline-block;
		width: 100%;
		height: 4px;
	
		background-color: currentColor;
		border-radius: 2px;
		border-width: 0;
	
		transform: scaleX(0);
		transition: transform 250ms var(--timing-function);
	}
	
	.scale-link:hover::after,
	.scale-link:focus::after {
		transform: scaleX(1);
	}
	
	.nav-link.accent {
		position: relative;
		color: var(--passed-color);
	}
	
	.nav-link.accent::after {
		position: absolute;
		left: 0;
		bottom: -1%;
	
		content: '';
		display: inline-block;
		width: 100%;
		height: 4px;
	
		background-color: currentColor;
	
		border-radius: 2px;
		border-width: 0;
	}

	.header-list {
		display: flex;
	}

	.contact-list {
		display: flex;
		flex-wrap: wrap;
		align-content: center;
	}

	.hero {
		min-width: 768px;
		height: auto;
		background-image:
			var(--grad),
			url("../image/hero-bg-tab.jpg");
	}

	@media (min-device-pixel-ratio: 2),
		(min-resolution: 192dpi),
		(min-resolution: 2dppx) {
		.hero {
			background-image: 
				var(--grad),
				url("../image/hero-bg-tab-2x.jpg");
		}
	}

	.hero-title {
		min-width: 496px;
		font-size: 56px;
		line-height: 1.07;
		margin-bottom: 36px;
	}

	.employees-list {
		row-gap: 64px;
		column-gap: 24px;
	}

	.features-list {
		column-gap: 24px;
	}

	.feature-item {
		width: calc((100% - 24px) / 2);
	}

	.title {
		text-align: left;
	}

	.employee-card {
		width: calc((100% - 24px) / 2);
	}

	.customers-container {
		width: 582px;
	}

	.customers-list {
		column-gap: 24px;
	}

	.customer-item {
		width: calc((100% - 48px) / 3);
	}

	.customer-link {
		width: 168px;
		height: 88px;
	}
	
	.footer-container {
		display: flex;
		flex-wrap: wrap;

		width: 582px;
	}

	.footer-desc {
	width: 264px;
	height: 112px;
	margin-right: 24px;
	margin-left: 0;
	margin-bottom: 72px;
	text-align: left;
	}

	.footer-social {
		text-align: left;
	}

	.wrap-footer-form {
		width: 453px;
		height: 80px;
	}

	.footer-form {
		display: flex;
	}

	.footer-form-title {
		text-align: left;
	}

	.footer-input {
		width: 264px;
		margin-right: 24px;
		margin-bottom: 0;
	}
	
	.modal {
		min-width: 408px;
		padding-right: 24px;
		padding-left: 24px;
	}

	.modal-btn-close {
		margin-right: 0;
	}

	/* - - - P o r t f o l i o (min-width: 768px) - - - */

	.projects-section {
		padding-top: 64px;
		padding-bottom: 96px;
	}

	.projetct-list {
		row-gap: 72px;
		column-gap: 24px;
	}

	.filter-list {
		justify-content: center;
		column-gap: 24px;
		row-gap: 0;

		margin-bottom: 64px;
	}

	.project-item {
		width: calc((100% - 24px) / 2); 
	}
}

@media screen and (min-width: 1158px) {


	.contact-box {
		width: auto;
		flex-wrap: nowrap;
		padding-top: 0;
		padding-bottom: 0;
	}

	.contact-list {
		flex-wrap: nowrap;
	}

	.contact-item:not(:last-child) {
		margin-right: 40px;
	}

	.contact-link {
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 24px;
		padding-bottom: 24px;

		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.02em;

		color: var(--text-color);
	}

	.contact-link .social-icon {
		display: inline-block;
		margin-right: 10px;
	
		fill: currentColor;
	}

/* - - - Hero min-width: 1158px - - - */

	.hero {
		max-width: 1440px;
		height: 600px;
		padding-top: 188px;
		padding-bottom: 188px;

		background-image:
			var(--grad),
			url("../image/hero-bg-desk.jpg");
	}

	@media (min-device-pixel-ratio: 2),
		(min-resolution: 192dpi),
		(min-resolution: 2dppx) {
		.hero {
			background-image: 
				var(--grad),
				url("../image/hero-bg-desk-2x.jpg");
		}
	}

	.hero-title {
		margin-bottom: 48px;
	}

	.section {
			padding-top: 120px;
			padding-bottom: 120px;
		}

	.header-container {
		width: 1158px;
	}

	.container {
		width: 1158px;
	}

	.features-list {
		row-gap: 0;
	}

	.feature-item {
		width: calc((100% - 72px) / 4);
	}

	.title {
		font-weight: 500;
		font-size: 20px;
		line-height: 1.2;
	}

	.feature-text {
		font-weight: 400;
	}

	.feature-icon-bg {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 112px;
		margin-bottom: 8px;

		background-color: var(--white-site-color);
		border-radius: 4px;
	}

	.feature-icon {
		display: block;
	}

	.about-section {
		display: block;
		padding-top: 0;
	}

	.about-list {
		display: flex;
	}

	.about-item:not(:last-child) {
		margin-right: 24px;
	}

	.about-item {
		position: relative;
		border: 1px solid var(--border-white-color);
	}

	.about-desc {
		position: absolute;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;

		width: 100%;
		height: 70px;

		background-color: rgba(46, 47, 66, 0.4);
	}

	.about-text {
		font-weight: 700;
		font-size: 14px;
		line-height: 1.11;
		text-transform: uppercase;

		color: var(--main-background-color);
	}


	.employee-card {
		width: calc((100% - 72px)/4);
	}

	.customers-section {
		padding-top: 120px;
		padding-bottom: 120px;
	}

	.customers-list {
		flex-wrap: nowrap;
	}

	.customer-item {
		width: calc((100% - 120px) / 6);
	}

	.footer {
		text-align: left;
	}

	.footer-desc {
		margin-bottom: 0;
		margin-right: 120px;
	}

	.footer-social {
		margin-right: 80px;
		margin-bottom: 0;
	}

	.footer-input {
		opacity: 1;
	}

	.footer-input:focus,
	.footer-input:hover {
		border-color: var(--accent-color);
	}


	/* - - - P o r t f o l i o (min-width: 1158px) - - - */


	.projects-section {
		padding-top: 100px;
		padding-bottom: 120px;
	}

	.filter-list {
		margin-bottom: 72px;
		row-gap: 48px;
	}

	.projetct-list {
		row-gap: 48px;
	}


	.project-item {
		width: calc((100% - 48px) / 3);
		box-shadow: none;
		border: none;
	}

	.project-item:hover,
	.project-item:focus {
		border: 1px solid var(--border-site-color);
		box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
			0px 1px 1px rgba(46, 47, 66, 0.16), 
			0px 2px 1px rgba(46, 47, 66, 0.08);
	}

	.card-content {
		border: 1px solid var(--border-white-color);
		border-top: none;
	}
}